#index-main, #add-account-main, footer
{
    padding: 1.5em;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.red
{
    color: rgb(192, 24, 24);
}
.black
{
    color: black;
}
.blue
{
    color: blue;
}
a:hover 
{
    cursor: pointer;
}
.narrower
{
    width: 50px;
}
.hundo
{
    min-width: 100px;
}
.no-margin
{
    margin-bottom: 0px;
}